[2012-06-30 13:25] gaodayihao opened #1 "The Qixing UI has a problem"
1.Estimate is not only Qixing has this problem. When a card move from PlaceSpecial, the UI will go wrong.
2.The pile button of self player, it 's menu should always visible, but now it is hide.

[2012-07-01 04:24] hejun442001 opened #2 "found bug in QSanInvokeSkillDock::update()"
I found bug in QSanInvokeSkillDock::update()

at src/ui/qsanbutton.cpp L390 : " int btnWidth = _m_width / btnNum[i] "
program crashed when btnNum[i]  equals zero.
it will happen when player lost all skills.

I fixed the bug in this commit:
https://github.com/hejun442001/QSanguosha/commit/686129feb5c0ca35dced20e9bf4b026c9c3a0bdc

(btw: I cannot send pull request to this project, so I send this issu

[2012-07-01 04:31] gaodayihao commented on #2
Thank you for your feedback.
We also found the problem, but I tend to use this way to solve:

at: src\ui\qsanbutton.h L144: update();
modified as: if (!_m_buttons.empty()) update();

[2012-07-01 04:39] gaodayihao commented on #2
I think this solution is safer and easier to read.

Thanks for your feedback again.

[2012-07-01 05:41] hejun442001 commented on #2
最后决定在我的分支中用 @gaodayihao 的方案了
这里呢？

[2012-07-01 05:42] gaodayihao commented on #2
都没用…………因为都有点笨…………: )

[2012-07-01 05:47] hejun442001 commented on #2
为什么？   55555555555555555~~~~~~~~~~~~

[2012-07-01 05:52] BeginnerSlob opened #3 "不明真相的崩溃"
2人局（非KOF），我主孙权，对面翼曹仁， 曹仁结束回合（已经出现了回合分界线），游戏崩溃。

[2012-07-01 20:55] ghost opened #4 "Figure out why there is an unreferenced CompareByActionOrder in gamerule.cpp"
Our github history has been screwed up. So we are not able to find who's "guilty" for each line of code in current repository. Specifically I find that there is an unreferenced CompareByActionOrder function in gamerule.cpp. It's originally called by case CardUsed of gamerule::trigger. Figure out if the original sorting is really necessary; i yes, add it back; if not, delete the CompareByActionOrde

[2012-07-02 02:34] hejun442001 commented on #4
我的意见：
把CompareByActionOrder()放到一个公用的头文件中，并删除散在各处的相关副本。

[2012-07-02 03:35] #2 closed, assigned to nobody

[2012-07-02 03:35] #4 closed, assigned to nobody

[2012-07-02 04:09] #1 closed, assigned to nobody

[2012-07-02 12:23] hejun442001 opened #5 "found bug:神周瑜发动业炎时程序崩溃"
bug现象 神周瑜发动原大业炎时程序崩溃
bug频率：必现（AI和玩家都会）

我调试发现 崩溃点在  CompareByActionOrder （）函数中的   a->getRoom();   上。 （调试时传入的a并非合理值也非NULL。）

[2012-07-02 12:31] gaodayihao commented on #5
请说明一下当时崩溃的重现具体重现方法……因为我这边重现不了

[2012-07-02 13:37] gaodayihao commented on #5
嗯，知道问题所在了~~~的确有这个问题，虽然我这里不是总会出现 ：）

感谢反馈~~~ ：）

[2012-07-02 13:38] #5 closed, assigned to nobody

[2012-07-03 01:04] ghost commented on #3
Does this issue still exist?

[2012-07-03 02:10] hejun442001 opened #6 "神关羽“武神”技能失效！！！"

[2012-07-03 12:28] hejun442001 commented on #6
补充仅玩家神关羽“武神”技能失效，AI正常

[2012-07-03 13:44] gaodayihao commented on #6
现在所有锁定视为技失效，因为这部分要大改……免得令其它正常的技能出问题

[2012-07-06 16:40] ghost opened #7 "Need to hide self's role in dashboard"
Need to implement a way to hide oneself's role in dashboard when mouse clicked.

[2012-07-06 16:46] ghost opened #8 "Change background image"
Replace the current background image with a lighter color one. Besides, adjust opacity of the infoPlane(chatbox and logbox) to 255 in qss.
Background image should be seperate from that of the start scene. Start scene can use fixed bg rather than the one user specified.

[2012-07-07 01:39] BeginnerSlob opened #9 "遊戲時將自身身份隱藏后不能再顯示。"
身份局中，一旦點擊了自己的身份，就會變成臉譜，然後沒有辦法再顯示。。

[2012-07-07 01:40] BeginnerSlob opened #10 "按鈕錯位問題"
一局遊戲結束后點擊返回主菜單就會出現按鈕錯位的問題。

[2012-07-07 01:41] BeginnerSlob opened #11 "手牌-1張"
神憤后會出現手牌-1張的情況。具體出現原因不明。

[2012-07-07 03:08] BeginnerSlob opened #12 "托管和反选按钮BUG"
嘛。。总之是有问题了。。

[2012-07-07 04:36] Procellarum opened #13 "落英bug"
貂蝉头上贴着梅花乐
于禁拆了
然后曹植发动落英收走了

[2012-07-07 04:39] Procellarum opened #14 "手牌负数&落英bug"
孙尚香两手牌，用两张梅花杀和孙权结姻
然后曹植发动四次落英，收进四张梅花杀（相同的两组）
尚香手牌变为-2
原因不明

[2012-07-07 04:42] Procellarum commented on #14
补充
尚香摸两牌，手牌数变为0
弃置两牌结姻，一张梅花杀曹植又收了两次，手里出现两张相同的杀
尚香手牌变为-3

[2012-07-07 04:48] Procellarum opened #15 "一张牌不能离手的bug……"
呃还是曹植
落英收了一张梅花杀（上一个issue里重复收的一张）
有连弩
用该杀指定目标会出现指示线，有杀的效果
但是不会离手
弃牌阶段弃不掉
嗯就是这样

[2012-07-07 04:51] Procellarum commented on #15
补充
响应南蛮有效果，仍然不能出手

[2012-07-07 05:19] hejun442001 commented on #15
卡牌bug 原因未知 （此bug原版就有）

[2012-07-07 06:17] BeginnerSlob opened #16 "依然是卡牌BUG"
曹操奸雄一張方片Q的火攻。。。已經攻了幾十次了。。。。還在攻呢。。。

[2012-07-07 17:49] Paracel opened #17 "Something about Dashboard"
1.头像处勾玉对齐
2.mark显示位置
3.自由弃牌按钮
4.托管状态的字体显示
5.获得技能时文字移动位置
6.左慈化身牌显示

[2012-07-08 10:54] #13 closed, assigned to nobody

[2012-07-08 10:54] #14 closed, assigned to nobody

[2012-07-08 10:54] #15 closed, assigned to nobody

[2012-07-08 10:54] #11 closed, assigned to nobody

[2012-07-08 11:00] #16 closed, assigned to nobody

[2012-07-08 21:43] #7 closed, assigned to nobody

[2012-07-08 21:56] ghost opened #18 "move dashboard's phase to the side"
Somehow dashboard's phase icon is now in the center rather than the right. Is this intentional? If not, change the skin settings to move it to the side.

[2012-07-08 22:02] ghost opened #19 "Adjust equip font"
adjust equip point/suit font in compact skin.

[2012-07-08 23:51] #9 closed, assigned to nobody

[2012-07-09 12:50] gaodayihao opened #20 "Need to design new UI to fix xuanhuo."
We have to create a new UI to solve some problem such as got one's cards in a time. If all gose wll, part of the skills also can use the interface, e.g. qixing.

[2012-07-09 14:43] BeginnerSlob opened #21 "Player should decide the order to trigger skills"

[2012-07-09 14:47] BeginnerSlob opened #22 "自己的Dashboard图层优先级过高"
无懈的狮子之类的都是从下面飞过的，被盖住了

[2012-07-10 01:15] BeginnerSlob opened #23 "Lijian Bug"
when use Lijian ,the costs won't be discarded.

[2012-07-10 01:18] BeginnerSlob commented on #3
i don't know,it seems that each skill in LingPackage will make the program break.

[2012-07-10 18:28] ghost commented on #3
@BeginnerSlob Do you have the dump file?

[2012-07-12 02:42] #23 closed, assigned to nobody

[2012-07-12 02:51] BeginnerSlob opened #24 "Baonue is not true"
As 0t1's FAQ,it should be confimed that whether damage.from's Kindom is "qun" at the same time as Kuanggu(confirm the distance).
it will make a wrong that :
when Zuoci use Huashen to change to a General whose Kingdom isn't "qun" and do a damage to Caiwenji,if Caiwenji is Dead in this way,Zuoci will turn to himself because of Duanchang(also turn to "qun"),it cannot trigger Baonue in fact,and now it

[2012-07-12 02:54] BeginnerSlob commented on #3
@yinlin09 No,it is too ealry to I know how to save a dump file.

[2012-07-12 12:40] #24 closed, assigned to nobody

[2012-07-13 01:42] #12 closed, assigned to nobody

[2012-07-13 03:02] hejun442001 opened #25 "国战模式下角色身份图标需修改"

[2012-07-13 08:02] hejun442001 opened #26 "建议恢复普通技能台词字幕。"

[2012-07-13 12:55] #25 closed, assigned to nobody

[2012-07-14 07:18] BeginnerSlob opened #27 "聊天用的泡泡框"
不解释-=-

[2012-07-14 07:36] BeginnerSlob opened #28 "父魂成功回合结束后原有的武圣也会消失"
RT

[2012-07-14 08:19] #28 closed, assigned to nobody

[2012-07-14 10:20] #22 closed, assigned to nobody

[2012-07-14 10:21] #3 closed, assigned to nobody

[2012-07-14 10:21] #18 closed, assigned to Paracel

[2012-07-17 05:09] pansz opened #29 "Assertion fail when client receive the following packet"
RX: [782,0,1,23,["amazing_grace","sgs5","sgs5"]]
QSanguosha: src/jsoncpp/src/json_value.cpp:692: const char\* Json::Value::asCString() const: Assertion `type_ == stringValue' failed.
Aborted (core dumped)

RX is the packet received.

[2012-07-17 05:35] ghost commented on #29
Reading the source code and the package you posted, I couldn't believe that the assertion is failed. This package is sent by the server to ask the client whether to play an "invincible" card against sgs5's "amazinggrace". But all three parameters are strings, therefore shouldn't fail the assertion. I would be really surprised if this assertion fail... Can you upload the dump file in your dmp direc

[2012-07-17 08:14] pansz commented on #29
well, the core file is 209M... do you really want it?

Server often core dumps and things may be clearer when I print all RX and TX packets in nativesocket.cpp.

I'll re-compile with debug and try more.

[2012-07-17 08:15] pansz commented on #29
I'll give you a core dump backtrace:

Core was generated by `./QSanguosha'.
Program terminated with signal 6, Aborted.
#0  0x00007fea01eba445 in __GI_raise (sig=<optimized out>) at ../nptl/sysdeps/unix/sysv/linux/raise.c:64
64      ../nptl/sysdeps/unix/sysv/linux/raise.c: No such file or directory.
(gdb) bt
#0  0x00007fea01eba445 in __GI_raise (sig=<optimized out>) at ../nptl/sysdeps/unix/sysv/lin

[2012-07-17 16:10] ghost commented on #29
@gaodayihao Another issue with that stupid nullification prompt box. Please
help remove it as soon as possible...

2012/7/17 pansz <
reply@reply.github.com

[2012-07-17 16:22] gutenye opened #30 "Linux下面编译失败"
[code]

[2012-07-18 01:01] pansz commented on #30
This is because: 'which -s' is not a valid option.

I don't know why, probably Moligaloo could make which -s work on ArchLinux.

For me, which -s does not work on Ubuntu.

remove the "-s" ?

[2012-07-18 02:01] pansz commented on #30
32a2f50ecb32e1fb2a185fd594051e3c05340f4d changed it into which, it should work on Debian/Ubuntu then.

[2012-07-18 02:29] BeginnerSlob opened #31 "五谷的框有BUG"

[2012-07-18 03:07] gutenye commented on #30
still get error. need https://github.com/GutenYe/QSanguosha/commit/71e6b01f8fe59569863b5b4630ad3dad26aaeba5 this fix, but I can't do a pull-request.

which fix below error

[code]

[2012-07-18 05:01] pansz commented on #30
That is not linux-related... it is just someone forget to commit the right file.

I've uploaded a linux.mk, which supports shadow-build and is more linux-friendly.

First, clean the garbage created by compile.sh with make distclean.

Then use it with make -f linux.mk

[2012-07-18 05:25] gutenye commented on #30
thanks for the linux.mk  file, but still got

[code]

[2012-07-18 05:39] pansz commented on #30
@yinlin09 for statistics.cpp problem: you removed the file but forget to removed it in QSanguosha.pro (also for statistics.h)

[2012-07-19 13:20] BeginnerSlob opened #32 "诸葛瑾缓释在队友同意的情况下必须用一张牌来改判"
不可取消。

[2012-07-20 03:47] ghost opened #33 "dashboard奇丑无比"
必须换掉

[2012-07-20 03:49] ghost commented on #30
@GutenYe @pansz if you wish to join our develop team, please add QQ group 236522670. I'll remove this comment after you've all seen this.

[2012-07-20 06:27] gutenye commented on #30
@yinlin09 thanks. I'm interested.

[2012-07-20 16:13] #6 closed, assigned to nobody

[2012-07-21 09:42] pansz commented on #30
@yinlin09  I'm in the 190147900 and you still don't know who I am?
我希望能够以这个群为主，不然就失去了建这个群的意义。或者说我被刻意孤立在可用群之外？

[2012-07-22 02:03] BeginnerSlob opened #34 "张角八卦阵判定中应不能使用八卦阵发动鬼道"

[2012-07-22 20:21] ghost opened #35 "AI Crash"
Crossbow
lua/ai/smart-ai.lua:1159: bad argument #1 to 'min' (number expected, got nil)
activate
stack traceback:
    lua/ai/smart-ai.lua:122: in function <lua/ai/smart-ai.lua:102>

[2012-07-23 00:08] #35 closed, assigned to gaodayihao

[2012-07-23 01:50] pansz commented on #34
其实这是一个系列的体系性的问题。就是当前正在作用的物件是否被锁定。

关羽能不能用武圣，把已经装备的麒麟弓杀距离5的人，这也是一样的道理：麒麟弓的攻击范围效果正在应用中，你就不能把麒麟弓作为代价用出去。

要改，需要的是体系上的，一致的修改。到处打补丁就是天天都在忙。

[2012-07-23 12:58] #30 closed, assigned to nobody

[2012-07-24 02:53] ghost opened #36 "贯石斧UI需要调整"
贯石斧应该在提示弃牌时自动处于选中状态，考虑一下是贯石的技能归类不对还是UI的问题，如果是前者则修改服务器端

[2012-07-24 06:39] gutenye opened #37 "[extensions] package directory"
for a user-mod, we can put everything into one folder, it's easy to manage. (add, remove)

[code]

[2012-07-24 06:49] BeginnerSlob commented on #36
反馈上来贯石斧还有一个BUG就是选择1张牌点取消就会崩，
而在我测试的时候根本选不了牌。不知道是什么原因。

[2012-07-24 06:51] BeginnerSlob opened #38 "小皮肤下的左慈化身问题（可能还有双将问题）"
待修复。

[2012-07-24 06:51] BeginnerSlob opened #39 "无懈窗口"
too ugly。

[2012-07-24 12:21] pansz opened #40 "Filenames in image/* are case-sensitive."
@GuTenYe @yinlin09 When upload new images, please ensure case.

当前版本在 Linux 下有大量图片无法载入，因为新传的文件常常跟旧文件大小写不同。

[2012-07-24 15:49] #36 closed, assigned to nobody

[2012-07-24 16:18] gutenye commented on #40
恩， 很多卡片看不到， 有人解决么？

比如

[code]

[2012-07-24 16:23] #29 closed, assigned to nobody

[2012-07-24 16:23] #31 closed, assigned to nobody

[2012-07-24 16:23] #32 closed, assigned to nobody

[2012-07-24 16:23] #39 closed, assigned to nobody

[2012-07-24 16:47] #40 closed, assigned to nobody

[2012-07-25 16:15] gutenye opened #41 "[lua] alternative syntax to write extensions"
Here is another way to write skill, trigger,  etc. which using object-oriented programming.

[code]

There are a lot benefit, For example, zhangchunhua's shangshi.

[code]

Any comments are welcome. Current it's in lua branch, I'll merge it into master if everyone feels fine about it.

EDIT: Actually I prefer this syntax to replace the old one.  Use one syntax is better than two.

[2012-07-25 22:40] ghost opened #42 "Several minor UI problems"
1. Huashen cards (Hero cards) animation are too fast to be seen. Consider change the origin of huashen cards created.
2. Nullification animation to dashboard has a wrong destination.
3. Need to simulate a cancel button click upon trust button click to avoid hanging forever.
4. Trust text position need adjustment.

[2012-07-25 22:41] #19 closed, assigned to Paracel

[2012-07-26 02:12] pansz commented on #41
I like this, it is the same as what I have designed from the very beginning.

[2012-07-26 07:06] #41 closed, assigned to gutenye

[2012-07-26 07:07] gutenye commented on #41
@pansz  good to know.
now it's been merged into master.

[2012-07-27 02:15] gutenye opened #43 "[test] 关于测试的几点建议"
主要为了提高测试效率.
### 增加命令行参数

[code]

有--test命令的, 就会多出 '自由弃牌', '蛊惑', '仁德', '直谏', '拿来', '天道', '咆哮' 的按钮. (并且这些按钮可以是激活或不激活状态-激活或不激活这个技能. e.g. 默认不激活的有'天道', '咆哮‘)
### ui的改进
- 作弊->伤害制造器的 伤害目标默认选着是当前玩家. (而不是始终是主公)
- 增加 作弊->青囊 菜单. (里面有确定按钮,最小按钮,最大按钮-直接把血补满.)
- 作弊->在服务器端执行脚本: 增加历史记录框, 直接双击某个历史就执行了这个脚本。

[2012-07-27 07:44] pansz commented on #43
这个可以有。
预先给我多留个。因为这里的 -server 可能是房间服务器或者大厅服务器。
我目前在整大厅服务器，所以看来是要多加个启动选项。
只是我一直是用 hg 的，总觉得开多了分支会给他人带来困惑，相关代码就一直没 push 了。

[2012-07-27 07:46] pansz commented on #43
另外需要考虑一下，作弊是哪个层面的。--test 是不是跟 --local 一致，因为显然你不太可能在 client/server 模式下引入作弊体系。

[2012-07-27 08:14] gutenye commented on #43
--test是额外的

[code]

或着这样子.

[code]

[2012-07-27 08:16] pansz commented on #43
服务器支持作弊的话，那测试命令是否每个终端都有权发出？测试性作弊是否同步到每个客户端？

[2012-07-27 08:30] gutenye commented on #43
只要 `server --test`和`local --test`就好了， `client --test`不需要.

服务器端支持作弊的话， 每个客户端都有作弊菜单了.  客户端发出作弊就和客户端使用了一个技能一样， 同步到每一个客户端的。

如果要做命令行的话, 顺便把要用的都补全把。

[code]

这样你可以开机 用一个命令 就能自动启动神杀服务器了.

[2012-07-27 08:35] pansz commented on #43
那是否该把服务器改造为不从 config.ini 读取，而是读取命令行参数？

顺便说说：看看我现在的服务器启动脚本。

$ cat ~/bin/qsgs_start
#!/bin/sh
pwd
while true
do
    date
    ./QSanguosha -server
    sleep 1
done

为啥要这样呢，因为这个服务器太容易崩溃了。多连上来玩几次就 stackdump。

[2012-07-27 08:47] gutenye commented on #43
原来已经有-server参数了啊， 好东西啊。  那cpp应该可以用一个处理命令行参数的库, （比如c的getopt, getopt_long)

先读取config.ini, 再读取命令行参数  (命令行参数参数优先级更高). 命令行里面只是为了更快速的调整一些常用的配置.(比如gameMode)

[2012-07-27 08:52] gutenye commented on #43
所以要加一个 -h, --help 参数. 我一直以为没任何参数的。。。

[2012-07-27 08:56] pansz opened #44 "关于协议包类型的定义。"
目前对于包的类型定义，有下列几种：
-       S_SERVER_REQUEST,
-       S_SERVER_REPLY,
-       S_SERVER_NOTIFICATION,
-       S_CLIENT_REQUEST,
-       S_CLIENT_REPLY,
-       S_CLIENT_NOTIFICATION,

实际上，需要描述的有三个层面的信息：
1. 发送方（SERVER，CLIENT）
2. 接受方（SERVER，CLIENT）
3. 类型（REQUEST，REPLY，NOTIFICATION）

现有情况下，因为只考虑了 SERVER to CLIENT 以及 CLIENT to SERVER 的信息，所以，2x3 只有六种类别。

但是，如果 SERVER to SERVER 需要考虑，再加上，ROOMSERVER 与 LOBBYS

[2012-07-27 08:58] pansz commented on #43
现在只有一个 -server 参数，别的都没有。

[2012-07-27 09:21] gutenye commented on #44
为什么要SERVER对SERVER通信? 我的理解只要 ROOMSERVER <-> CLIENT 和 LOBBYSERVER <-> CLIENT 就好了.

[2012-07-27 11:09] hejun442001 commented on #44
@GutenYe 还有  ROOMSERVER <->  LOBBYSERVER

[2012-07-27 11:51] haveatry823 commented on #43
其实现在每局游戏开始都会重新加载 lua/ai 里面的脚本的啦。

[2012-07-27 13:06] gutenye commented on #43
@haveatry823 thanks. 果然有了.

[2012-07-27 14:07] ghost commented on #44
我的意见是仍然只使用一个字段，但是拆分枚举

比如 int type = SERVER_SOURCE & SEREVER_DEST & PACKET_TYPE_REQUEST

souce用头2个bit, dst用另外两个bit，type再用两个bit

在 2012年7月27日 上午1:56，Pan, Shi Zhu <
reply@reply.github.com

[2012-07-27 22:00] ghost opened #45 "Rewrite miniscenario loader"
Currently there are at least 5 places you need to change simply to add one more miniscene, across several lua, cpp, ini, txt files in all different places; including:
1. In miniscenarios.cpp, add "ADD_CUSTOM_SCENARIO(34)"
2. In etc/customScenes, add "34.txt"
3. In lang/Zh_cn/Mini.lua, add ["_mini_34"] = "SceneName"
4. In settings.cpp, change "Settings::S_MINI_SCENE_STAGE_TOTAL = 34"
5. In lua/conf

[2012-07-27 22:07] ghost commented on #45
Actually, even after I fix all the above 5 places, the new scenes still doesn't pop up correctly... So I believe there is one more source...

[2012-07-28 01:10] gutenye commented on #45
I agreed,

btw: the ai written in lua is totally a mess, It uses a lot of global variables  everywhere. We really should rewrite the ai from scratch..

[2012-07-28 02:55] #42 closed, assigned to gaodayihao

[2012-07-28 04:55] #33 closed, assigned to Paracel

[2012-07-28 05:56] ghost commented on #45
@GutenYe If you can help refactor AI part or maintain AI of new heroes, that would be fabulous!

[2012-07-28 06:34] gutenye commented on #45
sure, I'm learning lua and ai, and I try to write a new ai system in my ai branch, and it's a experiment branch,   If everything goes well, I'll push my ai branch.

[2012-07-28 11:47] haveatry823 commented on #45
建议用lua来配置和管理系统的小场景以及玩家自定义的小场景。

官方的小场景配置文件固定为 etc/customScenes/mini.lua
玩家自定义的小场景则任意命名，但是文件名必须是数字和英文下划线组成，lua为扩展名， 符合正则  \w+.lua
玩家的小场景管理的lua和系统的都放在 etc/customScenes 目录

程序启动的时候扫描并加载 etc/customScenes/*.lua
比如扫描到 customScenes 目录下有三个lua文件， mydiy.lua, test.lua, mini.lua
总是优先加载 mini.lua 官方这个，其余两个 mydiy.lua, test.lua 按照文件建立时间排序加载，也可以简单的按照文件名的字母排序

这些lua的文件结构如下:

--mini.lua
return
{

[code]

}

--test.l

[2012-07-28 12:02] gutenye commented on #45
用户自定义的建议放到 `package/<name>/customScenes/ x.lua x.txt` 下

参考 #37

[2012-07-28 12:09] haveatry823 commented on #45
嗯，#37 的建议非常好， 但是目测要这样做的话，需要对程序进行比较大的调整（要判断是系统原生武将还是diy武将，然后再加载相应资源），牵涉面很大呢，而且同时影响到现有不少成熟的lua包的结构问题，神杀这边调整后，他们也要跟着调。
这个开发量应该不算小哦。

[2012-07-28 12:39] haveatry823 commented on #45
进一步建议

lua可以写为

[code]

这样，小场景游戏开始的时候可以 用 prompt_box 或者 QMessageBox 提示玩家，这关的目标以及过关提示
这样的提示信息对于自定义场景尤其需要，因为官方的小场景有 scenarios/miniscene.html， 自定义的
还没有场景相关提示和信息

[2012-07-28 14:28] haveatry823 opened #46 "虎牢关第二阶段，神吕布决斗关羽后程序就crash"
![虎牢关第二阶段，神吕布决斗关羽后程序就crash](http://qsanguosha.org/data/attachment/album/201207/28/221920064e7jai47664g08.jpg)
1. 虎牢关第二阶段，神吕布决斗关羽后程序就crash，我是玩的香香，其他角色都是 ai
2. 另关羽位置不对，UI问题，关羽出牌时把孙尚香的判定区和武器全盖住了

程序是 07-28 commit   75fbff6180 最新代码编译的。 windows xp  sp2

貌似我听说 程序崩溃后 dmp 目录会生成一些调试文件，但是我这次没有，dmp目录是空的。

[2012-07-28 14:42] haveatry823 opened #47 "虎牢关联军能够选择暗将(注：并没开启暗将)"
![Alt Text](http://qsanguosha.org/data/attachment/album/201207/28/223651wddegq4ewedhghhw.png)

我是吕布，联军三个是电脑，没有开暗将模式，但是联军有一个选择了暗将。

你的回环地址是 127.0.0.1，这个地址仅对你的本机有效
你的局域网地址: 192.168.1.105, 这个地址仅对处于同于同一局域网的用户可用
绑定的端口号: 9527
游戏模式为 4 人局 [虎牢关1v3]
玩家人数为 4
操作时间是 15 秒
自由选将是 启用
双将模式未启用
禁用场景模式
禁用同将模式
暗将模式已关闭
国战模式已关闭
服务器启用了 AI，AI 的延迟是 1000 毫秒
服务器启用了 AI 聊天
127.0.0.1:3435 已连接
QSanguosha AI 20120405 (V0.8 Stable)

[2012-07-28 16:00] #47 closed, assigned to nobody

[2012-07-29 04:32] haveatry823 commented on #46
不好重现，今天上午试了几次，出决斗又没有出现问题。 昨天的描述可能有误，看游戏记录是决斗孙尚香，不是决斗关羽。
但是指示线是指向关羽的， 难道那个指示线是决斗的前一张牌【乐不思蜀】留下的？

[2012-07-29 22:54] #38 closed, assigned to nobody

[2012-07-30 00:21] pansz commented on #44
okay, seems to be brilliant.

[2012-07-30 02:08] #44 closed, assigned to nobody

[2012-08-01 13:28] #8 closed, assigned to nobody

[2012-08-01 13:29] #17 closed, assigned to nobody

[2012-08-06 15:41] hill888 opened #49 "lua的CreateSkillCard接口是否已经失效或更改"
[code]

最简单的视为技能，里面没有任何代码，就一个空壳子，但是运行的时候报错程序崩溃
今天最新的源代码，32位xp系统+QT Creator编译。
麻烦帮忙看一下，这个代码哪里出问题了。

![img](http://www.tu265.com:8080/img3/b1938314c616070c3d0e2e2f76f85329.png)

[2012-08-06 15:49] hill888 commented on #49
这个代码在涅槃和踏青版里面是没有任何问题的。
在新神杀以服务器启动的方式里，服务器控制台也没有任何出错信息打印出来，可程序就这么崩溃了。

[2012-08-07 03:31] gutenye commented on #49
没更改, 是一个bug.  @gaodayihao @pansz 可以看下.

[2012-08-08 01:04] hill888 commented on #49
貌似没人解决，lua视为技不能用，这不是小bug呀，召唤所有高手
@donle
@BeginnerSlob
@yinlin09
@Paracel

[2012-08-10 05:48] BeginnerSlob commented on #49
我的东方杀的大型lua那么多视为技都没有问题- -不知道为什么你的这个就有问题，无力

[2012-08-10 05:50] BeginnerSlob commented on #49
测试完毕，和LZ同样的代码完全正常

[2012-08-10 06:28] gutenye commented on #49
@BeginnerSlob

我刚测试， 同样有这个问题。

点myview技能, 选着武将, 点确定

[code]

就这个代码有这个问题， 其它视为技的代码都正常的。所以基本上不影响使用。

[2012-08-11 07:12] gutenye opened #50 "[api] 杀距离限制, 杀次数 没有lua接口"

[2012-08-12 18:17] ghost opened #51 "Make ViewAsSkill generic for both server and client's usage"
Currently viewAs and viewFilter are only for client side usage. To make it usable on server side for anti-cheating and other purposes. Do following things:
1. Put currentPlayer, currentPhase and ardUseStruct.pattern into RoomState.
2. Add a function in Engine that can returns a RoomState for both client and server.
3. Update roomstate accordingly in both server and client side.
4. Search for "Clie

[2012-08-12 18:20] ghost opened #52 "Fix judgeStruct"
I only setup the very first step of the judgestruct. Currently retrial is totally broken. updateStatus() should be called in multiple places when ever the judge struct is updated.

[2012-08-12 18:26] ghost opened #53 "Implement Card::tryParse and Card::toJsonValue"
We need to open a new interface for serialize Card and leave the one with AI untouched. Implement the new interface, Switch any client/server communication protocol to the new interface (including CardUseStruct).

m_skillname should be communicated between C/S when serializing SkillCard.

This should fix ZhibaPinDian, Zhiba, Jilue, and all similar skills.

[2012-08-12 18:34] ghost opened #54 "Fix the right place to put card in use and collected by CC"
Let's end the "drank" nightmare in the correct way. Card flags should always be cleared when reset, just as why its suit is restored upon entering discard pile. When you attack 3 people with FanTian halberd drunken, the card flags should always be cleared upon entering another area, just at the same time its suit/number are restored. Therefore, no setFlag("-drank") should ever be explicitly called

[2012-08-12 18:37] ghost commented on #51
In the end we need to move currentPlayer, currentPhase and what ever states that are shared by client/server into RoomState rather than duplicating them. But duplicating it seems to be the only feasible way in the first pass.

[2012-08-13 03:46] pansz commented on #51
有些功能必须被重复。我来解释一下：

1。对于任何一个操作，服务器端接收到之后，需要检查这个操作的合法性，例如我可以杀一个距离8的人，或者杀空城诸葛亮，服务器应当期待从客户端而言，可能发出任何指令。——所以对服务器提起一个操作之后，服务器要有权说不。此时返回客户端之后，相当于该操作没有发生。

2。对于任何你可能发生非法操作之前，客户端可以从『方便用户』的角度，对某些非法操作进行屏蔽，例如使用杀的时候，自动把超过攻击范围的角色，以及空城诸葛，都给屏蔽了。——但客户端的这个行为，只是一种辅助性 AI ，用来辅助用户操作的，它不可以被依赖为检验动作合法性的标准，服务器端才是用于检测这个动作合法性的实体。

所以，某些操作必然是在客户端存在，同时在服务器端也存在的，虽然他们的用途不完全相同。客户端的存在意义只是帮助用户筛选出合法的操作，但客户端也有权不帮助用户进行这种筛选（例如 3V3 比赛中，

[2012-08-13 03:58] ghost opened #55 "Skill names to fix"
Apparently QSanguosha is excessively abusing skillnames. All the following skills breaks after anti-cheating check:
All derivative skills of Jilve of God Simayi
Zhiba of old Sunquan (consider removing this hero as the skill name, including ZhibaCard is totally confused with that of Sunce at the moment)
and many others to be discovered...

[2012-08-13 05:37] ghost commented on #51
@pansz That is what this patch is intended for.

[2012-08-13 13:13] hill888 commented on #49
我认命,但是问题是确实存在的,楼上诸位应该没有人认为我这个截图是ps的吧.

[2012-08-13 13:14] hill888 commented on #50
同意，还有杀的目标，比如想lua实现(在特定的条件或者代价下)普通杀可以指定两个目标，红色杀可以指定三个目标，属性杀可以指定N个目标等等

[2012-08-13 14:10] ghost commented on #55
guhuo is also broken

[2012-08-15 01:27] haveatry823 opened #56 "lua接口调整导致的一些ai代码失效"
#### sgs.Predamaged 失效问题

file:  basara-ai.lua   line: 12

[code]

file: hegemony-ai.lua  line 27

[code]
#
#
#
#### sgs.PhaseChange 失效问题

file: smart-ai.lua  函数 SmartAI:filterEvent

[code]

[2012-08-17 10:04] haveatry823 commented on #56
@Paracel

OK, 我看到已经好了，这个 fix 顺便把内的ai也调正常了.
因为当 sgs.turncount <2 的时候内是不会动的  ^_^

[2012-08-17 10:04] #56 closed, assigned to nobody

[2012-08-28 01:38] haveatry823 commented on #46
此bug后续版本没有重现过了，关

[2012-08-28 01:38] #46 closed, assigned to nobody

[2012-10-09 12:00] pansz opened #62 "Hard-coded font name cause missing font in Linux."
我们的程序提供了 simkai 以及 simli 两个字体。

但是在 skins/*.json 中，我发现不少地方使用了 simsun 以及 Arial 字体，而这个字体并没有随程序提供，这就造成了很多地方不正常显示的问题。

为了允许 Linux 中正常显示，我们可能有如下选择：
1。将所有 simsun 以及 Arial 字体替换成我们提供的 simkai 以及 simli。
2。修改  layout 为 Linux 单独制作一套 layout.json 文件。
3。增加字体以适应需求。保证所有被指定的字体都在 font 目录中提供。

请 @Paracel  @GutenYe  @BeginnerSlob 考虑一下。

[2012-10-09 12:34] ShaunDonle opened #63 "Do not modify the AI files except general packages AI"
Smart AI is totally a piece of sh*t right now. Ill do it in a few days

[2012-10-09 13:10] ShaunDonle commented on #62
Its not a serious problem, the first 2 choices are both satisfied. But I prefer to the choice that making another additional copy of this for Linux OS

[2012-10-09 15:06] Paracel commented on #62
1会影响显示效果

[2012-10-09 15:31] gutenye commented on #62
选第3个， 把simsun, Arial字体也加入到程序里面。
On Oct 9, 2012 8:00 PM, "Pan, Shi Zhu" notifications@github.com wrote:

[2012-10-10 01:11] pansz commented on #62
其中一个担忧是现在字体已然不少，整个游戏的包已然不小，增加字体回额外的增加整个程序包的大小，而这本来完全没有必要。（尤其是楷体只在一个地方使用，却为了这个字体占用了 12M 空间，是否有些浪费？）

关于增加字体的方案，我的建议是使用 msyh 来替代 simsun+Arial，理由也很简单，其实我们只需要 simsun 的中文字体以及 Arial 的英文字体，而 msyh 无论中文英文效果都不错，所以一个可以替代两个。

实际上，msyh 以及 simsun 存在的目的是为了提供小点阵下的中文。Arial 存在的目的是为了提供不等宽英文字体。

这里 simli simkai 都是等宽字体，因此 sim 系列的英文其实是完全不可用的。去掉 simkai 修改为 simli/simsun/msyh 是否有问题？

另外游戏右侧的日志栏，似乎根本没有使用随程序提供的字体，而是使用了系统字体，

[2012-10-11 01:43] pansz commented on #62
I had updated the source.

注意这次增加了 msyh.ttf ，但是 windows 版本制作程序包时可以不包括它，因为只在 linux 和 mac 中用到。

这个算是在不增加 windows 发行版尺寸的情况下做出的改良了。

[2012-10-11 01:44] #62 closed, assigned to nobody

[2012-10-11 07:01] iven commented on #62
@pansz WinXP 不自带雅黑的吧……

[2012-10-11 07:42] pansz commented on #62
@iven 现在对 Linux 跟 Windows 使用了不同的 style。
Windows 版本的 style 仍然依赖 simsun 和 arial。
Linux 版本依赖雅黑。

所以只需要在 Linux 版本中提供雅黑即可。

[2012-10-15 07:03] ShaunDonle opened #64 "Are there some guys interested in AI learning?"
My design  is about a new framework of AI, it uses the thesis of partially observable multi-agent system for reinforcement learning. And I use Q learning for the learning process. Now I have to design the Q value function, reward function and the design of all the states expression.I have to say that the design is so complicated that I cannot complete all these things in a short term, I hope someb

[2012-10-16 00:45] pansz opened #65 "Unable to open resource file "image/system/emotion/victim/0.png" for key "image/system/emotion/victim/0.png""
这一行提经常出现。

Unable to open resource file "image/system/emotion/victim/0.png" for key "image/system/emotion/victim/0.png"

但是从代码中似乎无法找到他出现在什么地方。

[2012-10-16 01:08] pansz commented on #64
You can just present the theory in the [Wiki page](https://github.com/gaodayihao/QSanguosha/wiki)  and see if anyone interested in it.

[2012-10-24 12:34] Paracel opened #66 "关于化身和移出游戏牌堆"
缺少化身牌数量显示，自己无法随时查看化身牌
dashboard上的privatePiles如果所含牌过多，后面的牌无法显示

[2012-10-27 11:00] #10 closed, assigned to nobody

[2012-11-08 09:19] WilliamShi opened #72 "荀攸奇策如果超时的话无法自己选择弃牌"
如果超时，只能坐等系统自动弃牌直至回合结束

[2012-12-14 06:23] WilliamShi opened #79 "Package Assassins cannot be loaded!"
What need to install for this information when launching under linux

[2012-12-17 10:48] WilliamShi opened #80 "于吉会一直蛊惑下去而且没有怀疑的机会"
在1206自己编的版本上

[2012-12-19 07:53] WilliamShi opened #81 "刘禅放权就crash"
在1206自己编的版本上出现

[2013-01-23 01:34] haveatry823 opened #83 "请大家暂时不要直接更新AI文件。"
目前的AI 是在:  https://github.com/haveatry823/QSanguoshaAI  上进行维护和更新。

之所以没有直接在 gaodayihao主线上更新是因为
haveatry823的AI项目上还有其他几个AI爱好者一起维护和更新，
但他们没有 gaodayihao的提交权限

将会不定期的将稳定的新AI 更新到本项目来。

[2013-01-24 15:29] crazygao opened #84 "1月24日编译失败"
/home/philip/QSanguosha/src/package/god.cpp:1445: error: 'WushenSlash' was not declared in this scope
谁编译过了可以知会一下么～～

[2013-01-24 15:32] crazygao commented on #84
更新：注释WushenSlash之后
skill = new HalberdSkill;
HalberdSkill不是TriggerSkill 的子类，报错……

[2013-01-24 16:50] Paracel commented on #84
thx

[2013-01-24 16:50] #84 closed, assigned to nobody

[2013-01-25 09:15] Paracel opened #85 "新韩当AI"
AI调整完后把这部分也并入，原有的gongqi和jiefan改名

[2013-01-27 14:24] #50 closed, assigned to nobody

[2013-01-28 09:52] Paracel opened #86 "@todo: /src/packages的调整"
1.铁索连环与武器牌的can_recast
2.SkillCard的handling_method
3.Dying，Death，BuryVictim的相关调整
-- Dying与Death对所有角色触发
4.HpLost与HpRecover的相关调整
-- HpLost改为PreHpLost，HpRecover在回复体力后触发，原时机改为PreHpRecover
5.BeforeGameOverJudge
-- 焚心
6.取消PostCardEffected，重写巨象
7.TriggerSkill内嵌ViewAsSkill的命名问题
-- 保持与TriggerSkill同名
8.askForCard与askForUseCard的接口调整

[2013-01-28 11:13] pansz opened #87 "@todo 可能因空指针引用导致崩溃的一些地方。"
待有时间逐一排查之。

./src/core/engine.cpp:204:        QString class_name = card->metaObject()->className();
./src/core/engine.cpp:404:    QString name = card->metaObject()->className();
./src/core/skill.cpp:110:    player->getRoom()->setPlayerFlag(player, objectName());
./src/core/skill.cpp:114:    player->getRoom()->setPlayerFlag(player, "-" + objectName());
./src/core/WrappedCard.h:72:        return m_c

[2013-01-28 12:27] Paracel commented on #87
这是什么问题？

[2013-01-29 00:57] pansz commented on #87
就是调用一个函数，返回一个指针，然后不校验该指针是否为NULL就直接视为其有效并使用这个返回的指针下的成员函数。

凡是类似的用法都可能存在潜在的问题。

当然在具体的上下文中，有些情况下我们是可以确定一定不会返回空指针的，因而需要具体情况具体分析。

[2013-02-03 10:47] ibicdlcod commented on #87
这个项目难道就是。。。？？？

[2013-02-05 00:41] YangtseSu opened #88 "清理代码树的二进制文件"
代码里面有很多windows需要的.dll .a .exe文件。这些不应该在代码里面吧。若为w平台编译方便，何不新建一个项目来保存这些windows相关的东西。

[2013-02-05 00:42] pansz commented on #85
handang 的图片，貌似有一个地方需求 nos_handang.jpg 的地方？现在里面的图片是 handang.jpg ，是要用哪个？

[2013-02-05 03:16] pansz commented on #88
fmodex.dll  freetype6.dll  libluasqlite3.dll

dll ，目前似乎就这三个，第一个是 fmodex ，这个如果不提供是要自行到 fmodex 官网去下载的，如果 fmodex 官网不倒闭，去掉似乎问题不大。

freetype 反正linux 下也需要，只不过在linux 下它成了外部依赖。

至于 libluasqlite 那个应该是个年代遥远的坑，目测目前是不需要的，可以删除。

lib 下的 .a 我不太清楚是用于什么的。因为 .a 本身没有平台相关性只是一个包。猜测这里面目录是给 mac 用的？

最后，7zr.exe 这个我猜测是用于解压安装用户自定义包的，但这个功能如果不能在 linux 下面调用似乎就没有意义。所以此功能可能需要考虑改为直接拿  7z 的开源代码进来替换掉当前直接调用 .exe 的方式，以保证跨平台可用。

其实我倒

[2013-02-05 04:58] YangtseSu commented on #88
源代码里面不应该打包这些二进制文件，这样看着很糟糕。比如fmodex，可以在文档里面说明，需要安装这个依赖。如果非要放在代码里面，最好建立一个windows的目录来存放。

[2013-02-05 05:00] Paracel commented on #85
因为卡牌图还没弄。。。

[2013-02-05 05:01] YangtseSu commented on #88
.a是静态链接的文件

[2013-02-05 05:03] YangtseSu commented on #88
freetype fmodex等在linux里面都是可以从源里安装的。mac下应该也是不需要在这里提供的。

[2013-02-05 05:08] YangtseSu commented on #88
再有就是提供msyh等font，也是很不明智的，这些都是私有的，不应该放在代码里面。字体没有特殊要求的话用系统默认就行。打包也应打包不造成侵权的字体。

[2013-02-05 05:14] YangtseSu commented on #88
prefix=c:/devel/target/51c6c4453aea27
似乎只有windows会有c盘

[2013-02-06 01:53] pansz commented on #88
这个确实有道理，侵权这个问题。。。但目前如果不侵权似乎就只能用 wqy 的 zenhei 以及 microhei ，隶变，隶书之类的字体没法用了，而太阳神三国杀从诞生以来一直用的隶变，后来新太阳神三国杀改成隶书，两者都是系统缺省没有的。

至于为什么必须要带字体应该是字体引擎的原因，你可以看到 wesnoth 韦诺之战也是自带字体的，可能是因为某些地方必须使用自带字体吧。

[2013-02-06 04:26] nutari opened #89 "顺手牵羊和铁索连环"
在顺手牵羊里有这么一段，感觉顺应该是和武器无关的吧
if (Self->getWeapon() && subcards.contains(Self->getWeapon()->getId())){
        const Weapon *weapon = qobject_cast<const Weapon *>(Self->getWeapon()->getRealCard());
        rangefix += weapon->getRange() - 1;
    }
这样如果我拿2+射程的武器当顺，距离1的也顺不到了……

然后铁索的feasible，在filter里的目标数量和targetmodskill挂钩，但是feasible里还是限制了最多2个，应该是忘了吧

[2013-02-06 05:26] Paracel commented on #89
好吧习惯性当攻击范围了= =

[2013-02-06 05:27] Paracel commented on #89
另外锦囊额外目标的问题我也改下吧，不过真要实现还是会有bug。。。

[2013-02-06 05:43] #89 closed, assigned to nobody

[2013-02-07 04:27] YangtseSu commented on #88
wesnoth 带的字体都是开源的，并且附带了COPYING。
隶书开源的还真没有，只有宋体 黑体 楷体可用。字体只是美观作用，换个字体不过界面变点，对游戏没影响的。

[2013-02-19 06:10] pansz commented on #88
删除了一个雅黑。

隶书那个嘛看他们什么意见吧。其他文件我再整理一下。

[2013-02-19 06:20] #54 closed, assigned to nobody

[2013-02-19 06:21] #52 closed, assigned to nobody

[2013-02-19 07:03] hejun442001 commented on #88
雅黑不建议删除 XP下没得！

在 2013-02-19 14:10:50，"Pan, Shi Zhu" notifications@github.com 写道：

删除了一个雅黑。

隶书那个嘛看他们什么意见吧。其他文件我再整理一下。

—
Reply to this email directly or view it on GitHub.

[2013-02-20 07:55] YangtseSu commented on #88
假如需要界面的统一的话，黑体可以换用microhei zenhei或者Droid Sans Fallback。这三个黑体都可以使用的。效果也不差，不一定要用雅黑。
隶书的话，开源的没有什么好的替代。中文自由字体 目前只有黑体 宋体 仿宋 圆体 楷体

[2013-02-25 04:01] nutari opened #90 "关于新版的一些问题。"
1.在trigger技上挂view_as_skill的时候，如果是在出牌阶段主动使用的情况下，你必须把view_as_skill也添加给武将，否则按钮会一直是灰色的（然后可以隐藏一个
2.targetmodskill里关于杀的距离，实际上只有维持不变和无限而已，感觉应该是可以加在canSlash或者getAttackRange里的
3.使用锁定视为技（武魂，禁酒）打出杀的时候，发动朱雀会导致打出去一张无色的火杀，不会用出去你手中的牌，然后你也不能干其他事只能托管结束。先使用朱雀的话没有这个问题。

[2013-02-25 04:10] haveatry823 commented on #90
程序的事情， @Paracel  吧。

不过，nutari ,不知道你对 ai 是否有兴趣， 这个版本的的AI项目地址是
https://github.com/haveatry823/QSanguoshaAI

目前是五六个lua爱好者在维护， 急需你这种懂 lua 的人才进来一起撸

@nutari

[2013-02-25 04:24] Paracel commented on #90
23了解
1你需要将ViewAsSkill的命名与TriggerSkill保持一致

[2013-02-25 05:21] #85 closed, assigned to haveatry823

[2013-02-25 10:18] #90 closed, assigned to nobody

[2013-02-25 11:20] #34 closed, assigned to nobody

[2013-02-25 12:00] #72 closed, assigned to nobody

[2013-02-25 12:00] #79 closed, assigned to nobody

[2013-02-25 12:00] #80 closed, assigned to nobody

[2013-02-25 12:00] #81 closed, assigned to nobody

[2013-02-25 12:04] #86 closed, assigned to nobody

[2013-02-26 02:08] #49 closed, assigned to nobody

[2013-02-26 15:29] Paracel opened #91 "吉本 毒医"
吉本发动毒医后该回合死亡，毒医效果不会清除

[2013-02-27 03:30] #91 closed, assigned to nobody

[2013-02-27 08:12] Paracel commented on #91
如果吉本被断肠了呢？

[2013-02-27 09:53] ibicdlcod opened #92 "warning when creating sanguosha_wrap.cxx"
Warning 451: Setting a const char \* variable may leak memory.

[2013-02-27 09:59] Paracel commented on #92
well, ignore it...= =

[2013-02-27 10:00] #92 closed, assigned to nobody

[2013-02-27 10:13] ibicdlcod opened #93 "Compile error"
room.cpp 4737:

reason.m_reason = is_preview ? CardMoveReason::S_REASON_PREVIEWGIVE : CardMoveReason::S_REASON_GIVE; // nasty hack only

./debug\room.o:E:\GitHub\QSanguosha-build-Desktop/../QSanguosha/src/server/room.cpp:4737: undefined reference to `CardMoveReason::S_REASON_PREVIEWGIVE'
./debug\room.o:E:\GitHub\QSanguosha-build-Desktop/../QSanguosha/src/server/room.cpp:4737: undefined reference t

[2013-02-27 10:24] BeginnerSlob commented on #93
= =never meet this strange error..

[2013-02-27 12:23] ibicdlcod opened #94 "AI中夫妻协战不视夫妻为队友"

[2013-02-27 13:51] BeginnerSlob commented on #91
= =又没想到，这就修

[2013-02-27 14:00] BeginnerSlob commented on #94
@haveatry823

[2013-02-27 14:02] ibicdlcod commented on #94
你应该直接assign haveatry823做这个事，除非你不是collaborator

[2013-02-27 14:08] BeginnerSlob commented on #94
=。=不知道还有这个功能，已assign

[2013-02-28 07:15] haveatry823 commented on #26
支持一下，我其实也希望。

[2013-02-28 15:08] Paracel commented on #26
现在看来还是没什么必要。。。

[2013-02-28 15:08] #26 closed, assigned to nobody

[2013-02-28 15:11] #55 closed, assigned to nobody

[2013-02-28 15:11] #45 closed, assigned to nobody

[2013-02-28 15:11] #63 closed, assigned to nobody

[2013-02-28 15:12] #37 closed, assigned to nobody

[2013-02-28 15:12] #65 closed, assigned to nobody

[2013-02-28 15:13] #64 closed, assigned to nobody

[2013-03-01 04:26] ibicdlcod commented on #93
this error make debug mode virtually unusable.

[2013-03-01 04:26] ibicdlcod commented on #93
And then you set breakpoint and won't work. ARRRRRGH!

[2013-03-01 09:37] haveatry823 commented on #93
try clean and rebuild

[2013-03-01 11:47] ibicdlcod commented on #93
every time I use the public computer I rebuilds with clean environment, and error persists.

[2013-03-02 08:44] BeginnerSlob commented on #93
@ibicdlcod But when using VS, the breakpoint is useful even if it is release MODE

[2013-03-03 12:15] ibicdlcod opened #96 "Possible AI Bug"
this bug is clearly unrelated to couple scenario, but this prevent me from effectively debugging.

调用堆栈摘录：

[code]

[2013-03-04 08:02] BeginnerSlob commented on #96
@Paracel 我看不懂=。=

[2013-03-04 09:50] Paracel commented on #96
目测就是AI::filterEvent崩了。。。但至少描述下怎么出现的吧。。。

[2013-03-04 11:09] ibicdlcod commented on #96
任何一局，开局主公出牌之前

[2013-03-04 11:09] ibicdlcod commented on #96
还是摸牌之前来着忘了

[2013-03-04 11:11] ibicdlcod commented on #96
顺便说一下这是用VS Debug的时候出现的

[2013-03-05 10:18] #93 closed, assigned to nobody

[2013-03-06 03:33] pansz commented on #88
黑体已经替换为 Droid Sans Fallback。隶书暂时留着。

[2013-03-06 12:13] ibicdlcod commented on #96
这个Bug貌似在有人装装备的时候出现，Qt里Release下没有

[2013-03-13 16:26] haveatry823 opened #97 "希望修复断线重连，拖拽出牌，右键查看已知牌和动态获取的技能"
虽然知道这些都不好修， 但是先提出来， 希望某天能修好。

[2013-03-14 00:32] pansz commented on #97
我建议一个一个分开去提，而且这些功能是什么样子的，要翻历史版本才知道，但历史的人物不会再去修代码。如果寄希望于新人，实则相当于实现这个新功能。那不如直接描述好拖曳出牌是什么样子，查看已知牌那又是什么样子，动态获取又是什么样子。

[2013-03-14 01:00] Paracel commented on #97
前两个确实需要修复，第三个在我看来属于作弊所以一直没什么兴趣，最后一个现在鼠标放到武将头像上显示的就是当前所有技能所以没有必要了

[2013-03-14 01:02] Paracel commented on #97
而且现在log能保证显示所有已知牌，不会有因此缺失游戏信息的问题

[2013-03-14 12:26] haveatry823 commented on #96
@ibicdlcod  目测你应该可以继续调试夫妻模式了。

[2013-03-14 12:49] ibicdlcod commented on #97
没明白右键查看已知牌是啥意思

[2013-03-14 12:55] haveatry823 commented on #97
@Paracel
RE: 最后一个现在鼠标放到武将头像上显示的就是当前所有技能所以没有必要了

动态获取的技能是不会显示的。
room->acquireSkill()  或者 lua代码里面的 room:acquireSkill()在游戏中动态获得的技能是不会显示的。

看截图： 绝境模式刚开局。 鼠标移到头像上，只会显示武将原始的技能。

![QQ 20130314205155](https://f.cloud.github.com/assets/1892922/258716/1fd0e41e-8ca6-11e2-941d-555f6fc97d88.jpg)

没有显示动态获取的【直谏】

[2013-03-14 12:59] haveatry823 commented on #97
@ibicdlcod
踏青有个功能， 在其他玩家头像哪里鼠标右键，可以看到这个玩家的已知牌。
（比如五谷拿的牌，火攻展示的牌，黄天，固政，落英等技能获得的牌），
明牌很多的话，还可以弹出一个类似五谷的窗口展示

这个功能其实不是作弊啦，因为那些牌对所有玩家都是已知的。

[2013-03-14 14:29] Paracel commented on #97
0312会显示 @haveatry823

[2013-03-15 01:44] pansz commented on #87
计划在所有的地方先加 ASSERT，然后调试，调试有触发 ASSERT 的地方再考虑修改代码。

[2013-03-15 01:47] haveatry823 commented on #87
建议新开分支做这个事情， 直接在master上做的话，有可能导致维护困难。

[2013-03-17 01:23] #96 closed, assigned to nobody

[2013-04-11 01:21] adamhj opened #98 "报个客户端计时条的bug"
以下基于0224版本

bug现象如下：出牌阶段，使用ViewAsSkill的时候，点技能，然后点取消，计时条会重置，并且计时条走的速度会加快，反复几次计时条会走得和飞一样，而且这种情况之后会一直存在，出牌阶段时间会变得很短。

这里面涉及两个问题：
第一个是在TimedProgressBar::show()里，startTimer前并未对m_timer作检查，所以如果连续两次调用show()之间未调用过hide()的话，前一个timer未销毁后一个timer又新建了，这个计时条上就会出现多个timer导致timerEvent()额外触发，结果就是计时条走得速度加快了，并且因为前面的timer句柄丢失了所以他们会一直存在直到游戏结束
patch见https://github.com/adamhj/QSanguosha/commit/70c8b5fe80c5281281e606a2c36da

[2013-04-11 02:42] Paracel commented on #98
好吧，因为一直都是无时间限制单机玩所以没注意到这个问题。。。下次合并代码的时候会修复。。。

[2013-04-11 02:42] #98 closed, assigned to nobody

[2013-04-19 02:32] ibicdlcod opened #99 "Qt4 Visual studio-addin 对VS2012不能用"

[2013-04-19 02:32] ibicdlcod commented on #99
怎么破

[2013-04-19 05:02] Paracel commented on #99
I‘d appreciate it if you make the work available under Qt 5...→_→
其实我试过一次，不知为何崩在QSettings了。。。

[2013-05-06 02:15] Paracel opened #102 "Do NOT push any commits now"
代码还没合并完，改动有数千行，各位暂时不要push以免conflict
thanks!

[2013-05-06 11:12] #102 closed, assigned to nobody

[2013-05-08 13:25] iven opened #103 "Linux 下编译错误"
[code]

[2013-05-08 14:08] Paracel commented on #103
目测合并的时候把MainWindow那里误删了。。。现在源码编译可能有不少问题，我这周还没时间看。。。

[2013-05-08 14:09] #53 closed, assigned to nobody

[2013-05-08 14:34] iven commented on #103
这样的啊，合并是指新 AI 么？赞！

另外有个不情之请，我在想以后有类似这种大动作的时候，可不可以先放在一个其他的 git 分支里搞，等全弄好了再合并到 master 分支？
因为我在维护 Arch Linux 的 QSanguosha 软件包，是从 git 直接取代码的，总编译不过的话用户会找我麻烦 :P

[2013-05-09 07:37] pansz commented on #103
@iven  有个解决办法是，嗯嗯，用你的 github fork 一个专门用于作为 arch linux 稳定版的供应。

每次这边的更新先测试，测试无误了你再拉过去。

因为，实际上并非只是大动作会造成编译不过，而是『经常性』的编译不过。

基本上每次他们提交代码之后我都得稍微再看看 Linux 下面能不能编译，有必要还要改改代码。

[2013-05-10 00:03] iven commented on #103
@pansz 汗，这样的工作量可比简单的一条 git branch 命令大多了……小的编译错误我自己就能修了，这种大动作我就无能为力，只能瞪眼了。

[2013-05-10 00:34] pansz commented on #103
@iven  与其这样不如每次有稳定版本的时候打个标，你只取打标的版本。而这样的标确实存在，每次发稳定版都有打标的。

[2013-05-10 00:46] iven commented on #103
@pansz 对于 Arch 用户来说，稳定版和 git 版是两个不同的包，我说的是 git 版。话说 git 里建个分支容易得要死啊，我看新 AI 那个源不是也维护了一个 dev 分支……

[2013-05-15 00:34] BeginnerSlob commented on #103
= =今天我来fix一下。。别急。。

[2013-05-15 00:35] BeginnerSlob commented on #102
= =所以我不需要fix？

[2013-05-15 02:48] Paracel commented on #102
这个issue当天就关了，不过暂时别动，还要把这几天的并过去。。。。

[2013-05-16 05:15] huoshan12345 opened #104 "vs2010编译后200多个错误如何破"
源码是昨天下的，按照README.vs2010一步一步的做了，然后编译各种错误。。。自己无法破啊

[2013-05-16 05:29] Paracel commented on #104
现在的源码不是稳定状态。。。

[2013-05-16 05:29] #104 closed, assigned to nobody

[2013-05-29 02:22] WilliamShi commented on #103
fix 好了没有，现在的源码确实在linux下编译不过，我是用的最近的2013-02-24那个编的，可以成功编译

[2013-06-03 14:39] iven commented on #103
首先，qmake 的时候提示：

[code]

然后 make 的时候提示：

[code]

[2013-06-03 14:55] Paracel commented on #103
删掉halldialog.cpp

[2013-06-03 15:01] iven commented on #103
新的错误：

[code]

[2013-06-03 15:04] Paracel commented on #103
这个引用符号是怎么冒出来的= =

[2013-06-03 15:22] iven commented on #103
唔，是不是说临时变量不能取引用啊…… = =

[2013-06-05 07:59] jackzw8 commented on #103
是呀，现在的源码在winxp,Qt4下编译好多错呀！

[2013-06-06 06:57] QTurtle commented on #103
@Paracel This is one good example of QT's utter stupidity. Make "QVariant stupid;" a separate line and QT will be happy.

[2013-06-21 15:46] shouhuanxiaoji opened #107 "Debian wheezy编译错误。"
../QSanguosha/src/core/card.h:130:25: warning: unused parameter ‘target’ [-Wunused-parameter]
In file included from ../QSanguosha/src/server/roomthread.h:10:0,
                 from ../QSanguosha/src/server/roomthread.cpp:1:
../QSanguosha/src/core/structs.h: In constructor ‘DamageStruct::DamageStruct(const QString&, ServerPlayer_, ServerPlayer_, int, DamageStruct::Nature)’:
../QSanguosha/src/core/

[2013-06-21 15:46] shouhuanxiaoji commented on #107
还有一个问题，现在太阳神三国杀最新版本是啥，春分版（0224）还是0610？

[2013-06-22 15:12] WilliamShi commented on #107
0224在linux下編譯ok，但是0610在linux下編譯有問題，在windows下編譯ok

[2013-06-22 17:04] WilliamShi commented on #103
error message from make:
                 from ../QSanguosha/src/server/roomthread.cpp:1:
../QSanguosha/src/core/structs.h: In constructor ‘DamageStruct::DamageStruct(const QString&, ServerPlayer_, ServerPlayer_, int, DamageStruct::Nature)’:
../QSanguosha/src/core/structs.h:34:10: warning: ‘DamageStruct::by_user’ will be initialized after [-Wreorder]
../QSanguosha/src/core/structs.h:33:10: warning

[2013-06-25 11:09] Blaskyy commented on #103
In file included from src/core/WrappedCard.h:4:0,
                 from src/core/player.h:5,
                 from src/core/structs.h:11,
                 from swig/sanguosha_wrap.cxx:1621:
src/core/card.h:130:25: warning: unused parameter ‘target’ [-Wunused-parameter]
     inline virtual void onNullified(ServerPlayer _target) const{ return; }
                         ^
swig/sanguosha_wrap.cxx: In

[2013-06-25 15:07] iven commented on #103
@Blaskyy
使用的是最新的代码么？试试先 cd swig; swig -c++ -lua sanguosha.i 再编译，还会有问题么？

[2013-06-25 15:37] Blaskyy commented on #103
@iven 是最新的master分支, 试了还是不行~

[2013-06-25 19:05] Paracel commented on #103
swig 2.0.9 plz

[2013-07-04 02:32] pansz commented on #103
因为 Linux 中通常不可能那么快升级系统组件，因此恢复到可以支持 swig 1.3 的 lua5.1

fixed

[2013-07-04 02:32] #103 closed, assigned to nobody

[2013-07-04 02:32] pansz commented on #107
fixed 新编译错误，请重新测试。

[2013-07-04 03:43] iven commented on #103
@Blaskyy 是该更新系统了，我这都 2.0.10 了…… 1.3 那是多少年前的版本啊……

[2013-07-07 10:39] iven opened #109 "git 版运行时错误"
单机启动，设置好各种选项后点确定，会弹出对话框“Lua 脚本错误”：

[code]

[2013-07-17 13:46] WilliamShi opened #111 "陆逊加淑慎伏皇后死循环"
满血回合结束弃牌死循环了
![endlessloop](https://f.cloud.github.com/assets/2637940/811999/4891a03e-eee7-11e2-9bb4-d1c560f6c2b6.jpg)

[2013-07-18 03:30] YanGuam commented on #111
有办法再现吗...

[2013-07-19 04:39] WilliamShi commented on #111
編譯版本20130629，只要有陸遜就有這個問題，我後來又碰到了，只要選陸遜100%可重現

[2013-07-19 08:05] yysfire opened #112 "Linux下4个包无法加载，选将界面看不到图片，怎么解决？"
启动时，提示：
Package New1v1Card cannot be loaded!
Package Special1v1 cannot be loaded!
Package Special1v1OL cannot be loaded!
Package NostalGeneral cannot be loaded!

而且，选将时，看不到将的图片，请问该如何解决？

[2013-07-19 08:14] yysfire commented on #109
这是因为新版AI将Lua升级至5.2.2，并添加continue语句，此语句是不被lua 5.1支持的。
可按照 http://lua-users.org/wiki/ContinueProposal 提供的方法将AI中出现continue语句的地方用repeat语句替换

[2013-07-20 08:16] Blaskyy opened #113 "Lua脚本错误"
lua/ai/standard_cards-ai.lua:1064: '=' expected near 'end'

➜  QSanguosha git:(master) ✗ ./QSanguosha
Package New1v1Card cannot be loaded!
Package Special1v1 cannot be loaded!
Package Special1v1OL cannot be loaded!
Package NostalGeneral cannot be loaded!

![Lua脚本错误](http://i.imgur.com/FE6pPjT.png)

[2013-07-20 14:01] iven commented on #109
两边还不统一是闹哪样……果断链接到系统自带的 Lua 了。

[2013-07-25 07:58] WilliamShi opened #114 "2013-06-10 tag 版本linux下编译错误，以前曾经好像编译通过的"
../QSanguosha/src/server/roomthread.cpp:324:75: error: no matching function for call to 'GameRule::trigger(TriggerEvent, Room_&, ServerPlayer_&, QVariant)'

[2013-07-28 14:49] WilliamShi commented on #113
因為缺省lua不帶continue，所以要自己改提示錯誤的幾個文件，我改了三個就好了，把if ... then continue end中的continue刪掉，把這個end後面整個for循環裡面的東西全部拷貝到剛才刪除的continue的地方並在前面加上else就可以了。不過好像可以下載一個lua的continue補丁，有了補丁就什麼都不用改

[2013-07-28 14:51] Blaskyy commented on #113
soga,谢啦,我试下

[2013-07-29 02:42] Blaskyy commented on #113
@WilliamShi 按你说的方法成功了~改了三个文件~

[2013-07-29 02:42] #113 closed, assigned to nobody

[2013-07-30 12:55] WilliamShi opened #115 "vs2010下调试无图像显示，即使已经拷贝了qjpeg4.dll"
正常运行一切都正常，但是vs2010下调试无图像显示，即使已经拷贝了qjpeg4.dll

[2013-07-31 09:38] WilliamShi commented on #112
嘗試拷貝imageformats\qjpeg4.dll 到QSanguosha目錄下試試看

[2013-08-04 10:03] barpaum opened #116 "Lua error in Kubuntu 12.04 64bit"
When I try to start a game, I got such error:
lua/ai/standard_cards-ai.lua:1064: '=' expected near 'end'

[2013-08-04 10:26] #116 closed, assigned to nobody

[2013-08-05 03:09] pansz commented on #116
现在 Linux 下可能各种问题的，因为脚本里面怀疑有 continue，但标准的 lua 中没有，而 linux 是链接的标准 lua。

[2013-08-05 03:09] pansz commented on #114
完全 clean 一下再试试？

[2013-09-03 10:18] yysfire commented on #112
我说的是在Linux下，这个dll应该没用吧

[2013-09-03 12:18] pansz commented on #112
这个应该是由于新的包使用了 continue 关键字而导致的。可能需要通过修改相关 lua 包去掉 continue 关键字。

[2013-09-03 16:21] Paracel commented on #112
continue只有AI里用到@pansz

[2013-09-12 07:39] moneyos opened #117 "继续 make -f linux.mk 编译后无法make install"
libfmodex.so也放到build的目录里面了，第二次make -f linux.mk也通过了，怎么编译出游戏的 = = qt4.8,系统mint15(跟ubuntu13.04类似)

[2013-10-12 11:47] CyanSalt opened #118 "ubuntu13.04 X64，完全不会编译什么的……能不能帮忙打个deb包或者编译好……"
RT

[2013-11-21 03:42] WilliamShi opened #119 "vs2010 build failed"
4>....\src\ui\roomscene.cpp(756): error C2065: 'infoPlane' : undeclared identifier
4>....\src\ui\roomscene.cpp(756): error C2228: left of '.width' must have class/struct/union

[2013-11-21 12:50] Fsu0413 commented on #119
我早知道了……主要问题我感觉是出在ready属性上……

[2013-11-21 13:27] WilliamShi commented on #119
我改了一些代码，编译没有问题但是link还是有问题，link外部库的问题，我怀疑是lua升级导致

[2013-11-21 13:55] WilliamShi commented on #119
自从8月26日之后就再也没有更新过了，因为每次编译不成功，今天想下决心编译下，结果编译过了，但是link还是有问题，哪位朋友帮帮忙啊，谢谢。错误信息如下：
1>Link:
1>     Creating library ....\Bin\QSanguosha.lib and object ....\Bin\QSanguosha.exp
1>moc_dashboard.obj : error LNK2001: unresolved external symbol "private: void __thiscall Dashboard::onCardItemDoubleClicked(void)" (?onCardItemDoubleClicked@Dashboard@@AAEXXZ)
1>....\Bin\QSanguosha.exe : fatal error LNK1120: 1 unr

[2013-11-21 14:33] WilliamShi commented on #119
又改了改，编译link都ok了，运行时出现找不到文件lua/utilities.lua ，这个文件哪里找啊，网上也搜不到啊

[2013-11-21 14:53] WilliamShi commented on #119
从这里 https://github.com/Paracel/QSanguosha-Para/blob/master/lua/utilities.lua
拷贝了一个utilities.lua终于可以玩了，但是貌似这个文件不大对头，机器好傻

[2013-11-21 15:30] Fsu0413 commented on #119
你可以去sanguosha.lua里面看看，应该是有关于这个文件的说明

[2013-11-21 15:49] Paracel commented on #119
代码现在还在调整，AI应该有很多问题。。。

[2013-11-21 15:52] WilliamShi commented on #119
请问哪个版本比较稳定一点8月26号之后的
在 2013-11-21 下午11:49，"Paracel" notifications@github.com写道：

[2013-11-24 11:30] WilliamShi commented on #119
现在用下来觉得还可以，陆逊修复了，不知道李儒的bug好了没有，这个版本显示是2013年11月30号v2版本，不知道是不是准备在11月30号推出稳定版本呢，编译时间是11月21号，这个版本凌统旋风无法选择角色没办法发动。

[2013-11-24 11:30] #119 closed, assigned to nobody

[2013-11-24 15:03] WilliamShi opened #120 "sp-ai.lua 报错"
有谁知道这是什么错吗？
单机启动后点击确定会报错 lua/ai/sp-ai.lua:1231:unexpected symbol near '<'
end

sgs.ai_skill_invoke.cv_guojia = sgs.ai_skill_invoke.cv_huanggai
<<<<<<< HEAD                  这是1231行
sgs.ai_skill_invoke.cv_zhugeke = sgs.ai_skill_invoke.cv_huanggai
# sgs.ai_skill_invoke.cv_yuejin = sgs.ai_skill_invoke.cv_huanggai

[2013-11-26 14:10] WilliamShi commented on #120
玩不了了，有人出来帮帮忙解决这个问题吗，谢谢啦

[2013-12-19 02:33] pansz commented on #118
这个可以有。

On Sat, Oct 12, 2013 at 7:47 PM, CyanSalt notifications@github.com wrote:

[2013-12-23 12:55] WilliamShi opened #121 "凌统旋风依旧无法发动"
在2013-12-10tag上编出来的凌统旋风依旧无法发动

[2013-12-23 16:19] Paracel commented on #121
当日已修复

[2013-12-23 16:19] #121 closed, assigned to nobody

[2013-12-24 00:46] WilliamShi commented on #121
应该用哪个版本?谢谢
2013-12-24 上午12:19于 "Paracel" notifications@github.com写道：

[2013-12-24 04:32] Paracel commented on #121
最新代码即可

[2013-12-24 07:14] pansz commented on #117
目前我使用的是 Ubuntu 12.04 LTS 以及 Debian 6.0 wheezy (debian stable)
，两者都是面向服务器的稳定版本发行版。

等到下次升级的时候（例如 Ubuntu 14.04 以及 Debian 7.0 变成 stable 的时候）我会考虑更高版本的适配。

如果你 make 通过的话，在当前目录可以直接 ./QSanguosha 运行之。

2013/9/12 moneyos notifications@github.com

[2013-12-31 03:17] pansz opened #123 "关于 serverplayer 里面存在的循环依赖的问题。"
server/serverplayer.h 里面
class ServerPlayer 是继承 Player 的。
但里面有一个元素叫做
    QList<PhaseStruct> _m_phases_state;

而这个结构的定义在这里：

core/structs.h

struct PhaseStruct {
    inline PhaseStruct() {
        phase = Player::PhaseNone;
        finished = false;
    }

[code]

};

这里 PhaseStruct 又依赖 Player。

目前 gcc 无法编译通过 QList<PhaseStruct> 那一行，因为认定这种形式使用前向定义也无效，必须完整定义。

[2013-12-31 03:25] pansz commented on #123
增加一个 #include "structs.h" 解决问题，不过未知是否导致其他问题。

[2013-12-31 03:25] #123 closed, assigned to nobody

[2013-12-31 05:04] WilliamShi opened #124 "编译时候sanguosha_wrap.cxx好多错误"
这个文件是自动生成的吧，需要升级什么工具之类的吗?
编译错误信息如下：
g++ -c -pipe -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fstack-protector --param=ssp-buffer-size=4 -m32 -march=i686 -mtune=atom -fasynchronous-unwind-tables -O2 -Wall -W -D_REENTRANT -DAUDIO_SUPPORT -DQT_NO_DEBUG -DQT_DECLARATIVE_LIB -DQT_SQL_LIB -DQT_GUI_LIB -DQT_NETWORK_LIB -DQT_CORE_LIB -DQT_SHARED -I/usr/lib/qt4/mkspecs/linux-g++ -I../QSanguosha -I/usr/incl

[2014-01-04 18:24] WilliamShi commented on #124
玩不了了，哪位兄弟帮帮忙看看这个问题啊，谢谢

[2014-01-05 10:36] Fsu0413 commented on #124
用最后一个Paracel的代码编译

[2014-01-07 12:25] WilliamShi commented on #124
现在用tag 2013-12-10编译也通不过了

[2014-01-07 15:28] Fsu0413 commented on #124
你是用什么编译的^

[2014-01-07 15:33] WilliamShi commented on #124
就make啊，以前一直o k的
2014-1-7 下午11:28于 "Fsu0413" notifications@github.com写道：

[2014-01-08 09:49] Fsu0413 commented on #124
怎么make的

[2014-01-08 10:16] WilliamShi commented on #124
就是在QSanguosha目录下敲make，以往一直工作的，有时候有些小问题自己改改都能成功编译出来可以执行的QSanguosha

[2014-01-08 12:13] WilliamShi commented on #124
刚刚pull之后编译顺利通过，谢谢

[2014-01-08 12:55] Fsu0413 commented on #124
好吧……我一直用VS

[2014-01-08 12:58] WilliamShi commented on #124
vs我一直编译都没问题

[2014-01-09 02:55] pansz commented on #124
swig 本身生成的代码有问题，目前已经暂时补丁修复，后续我会想个其他的办法解决此问题。

[2014-01-09 02:55] #124 closed, assigned to nobody

[2014-01-09 02:56] pansz commented on #117
修改了一下，适配了 13.10 版本。可以重新测试。

[2014-01-09 02:56] #118 closed, assigned to nobody

[2014-01-09 02:57] pansz commented on #114
fixed

[2014-01-09 02:57] #114 closed, assigned to nobody

[2014-01-09 02:58] pansz commented on #112
测试了一下发现确实有这个问题，而且现在不能 load 的已经不止 4 个包了。

[2014-01-09 02:58] #107 closed, assigned to nobody

[2014-01-09 04:23] WilliamShi commented on #120
已经修复

[2014-01-09 04:23] #120 closed, assigned to nobody

[2014-01-09 04:24] WilliamShi commented on #115
已经修复

[2014-01-09 04:24] #115 closed, assigned to nobody

[2014-01-09 04:35] WilliamShi commented on #117
我使用fedora17编译目前没有问题

[2014-01-09 09:18] iven commented on #117
好顶赞！我在 Arch 64 位下也没问题。

[2014-01-14 04:40] WilliamShi commented on #111
最新版本都好了

[2014-01-14 04:40] #111 closed, assigned to nobody

[2014-02-16 03:41] jicewarwick opened #125 "编译问题"
系统: arch-Linux 64 bit
1. 对于qt5, toscii()不再适用,建议换成toLatin1().
   http://qt-project.org/doc/qt-5.1/qtcore/qstring-obsolete.html#toAscii
   影响文件包括:
   /src/client/client.h
   /src/client/client.cpp
   /src/core/jsonutils.h
   /src/core/engine.cpp
2. 还有一个问题:

[code]

求解.

[2014-02-24 03:27] pansz commented on #125
原来是 Qt5 的编译问题啊。你说的那个修改方法，与 Qt4.8 兼容么？

不过就你后面的问题确实挺奇怪的，分明是标准的 lua 编译不过。

可能的原因也是 Qt 5 的原因，因为 QSanguosha.pro 调用 Qt 生成 Makefile，决定了其他部分的编译参数。也许用 Qt 5 生成的 Makefile 对其他部分的编译参数不同。

比较靠谱的应该是先用 Qt 4.8 试试，因为目前整个项目都没有做 Qt 5 的兼容，大家都使用 Qt 4.8。

至于什么时候可能考虑切换到 Qt 5，要问项目其他成员了。

[2014-03-07 19:11] jicewarwick commented on #125
我试了一下, 用toLatin1() 可以在4.8下编译.

[2014-03-07 23:21] Fsu0413 commented on #125
@jicewarwick  toAscii()本来就是Qt为了兼容以前版本所做的函数。

[2014-03-09 09:09] YanGuam commented on #125
@Fsu0413  qt5已不支持使用toAscii

[2014-03-09 12:01] Fsu0413 commented on #125
@YanGuam 我知道……

[2014-06-22 16:19] WilliamShi opened #129 "64位 Fedora 20下编译问题"
g++ -c -pipe -O2 -Wall -W -D_REENTRANT -DAUDIO_SUPPORT -DQT_NO_DEBUG -DQT_DECLARATIVE_LIB -DQT_SQL_LIB -DQT_GUI_LIB -DQT_NETWORK_LIB -DQT_CORE_LIB -DQT_SHARED -I/usr/local/Trolltech/Qt-4.8.6/mkspecs/linux-g++ -I. -I/usr/local/Trolltech/Qt-4.8.6/include/QtCore -I/usr/local/Trolltech/Qt-4.8.6/include/QtNetwork -I/usr/local/Trolltech/Qt-4.8.6/include/QtGui -I/usr/local/Trolltech/Qt-4.8.6/include/QtSq

[2014-06-23 02:25] Fsu0413 commented on #129
此分支有可能有编译问题，因为如果不是更新时期基本没人维护……

[2014-06-23 02:34] BeginnerSlob commented on #129
可能是你用的swig版本错误

[2014-06-23 05:59] WilliamShi commented on #129
哪个分支比较稳定点啊

On Mon, Jun 23, 2014 at 10:25 AM, Frank Su notifications@github.com wrote:

[2014-06-23 06:00] WilliamShi commented on #129
swig我已经尝试更形成3.0.2，问题依旧，swig用哪个版本更好啊

On Mon, Jun 23, 2014 at 10:34 AM, Slob notifications@github.com wrote:

[2014-06-23 15:13] BeginnerSlob commented on #129
稳定分支可以前往 Paracel/QSanguosha-Para,swig版本应该用2.x.x的最新版本（具体的版本号已遗忘）。

[2014-06-24 00:04] Fsu0413 commented on #129
@BeginnerSlob swig用3.0.2

[2014-06-24 03:40] BeginnerSlob commented on #129
@Fsu0413 这是gaodayihao分支。。。

[2014-06-26 15:46] WilliamShi commented on #129
分支Paracel/QSanguosha-Para clone不下来，老是报错，几天了，请问有没有哪个稳定版本可以下载阿

[2014-06-26 23:50] Fsu0413 commented on #129
@BeginnerSlob 好吧

[2014-06-26 23:50] Fsu0413 commented on #129
@WilliamShi 只有那个了

[2014-06-29 14:12] ibicdlcod opened #130 "这玩意现在该咋编译= ="
两年了我都成火星人了
卡在swig上面 现在那句命令行是啥样

[2014-06-29 15:11] BeginnerSlob commented on #130
readme.vs2010
根目录下的这个文件

[2014-06-29 15:19] ibicdlcod commented on #130
不用vs2010呢 反正我是强迫症 要装我只想(在Win8.1上)装vs2013
而且我以前小本本卸载vs2010的时候出过系统问题

[2014-06-29 22:37] Fsu0413 commented on #130
不用VS2010你就永远别编译了

[2014-06-30 01:27] YanGuam commented on #130
花十几个小时编译一下 Qt4.8的库  然后就能编译了 QAQ

[2014-06-30 02:25] Fsu0413 commented on #130
@YanGuam Qt-x64……里面有编译好的Qt4.8库，不过Add-in比较蛋疼…………

[2014-06-30 05:21] ibicdlcod commented on #130
vs2010微软都不给下了  顺便我用的还是以前的QtSdk-offline-win-x86-v1_2_1.exe
编译其实差不多都好了，只是Qt在报sanguosha_wrap.cxx的错

[2014-06-30 05:23] BeginnerSlob commented on #130
不明真相。。没用过Qt

[2014-06-30 06:06] Fsu0413 commented on #130
……为何不用新版

[2014-06-30 09:23] ibicdlcod commented on #130
方便而已 不然上哪儿找合适的MinGW（还是说我用的MinGW已经过时了？）
顺便现在用的是Qt 4.8.6吗？

[2014-06-30 09:37] BeginnerSlob commented on #130
=。=这个线确实是486.mingw我不用，不知道。

[2014-06-30 10:03] Fsu0413 commented on #130
486，不用mingw，用Vs2010.

[2014-06-30 10:06] BeginnerSlob commented on #130
人家都说了不用VS2010

[2014-06-30 10:18] Fsu0413 commented on #130
不用VS2010我还真不知道这分支怎么编译

[2014-06-30 10:50] ibicdlcod commented on #130
闲的在虚拟机里装VS2010 成功了
不过我要做一个不含源代码的release出来，结果发现主界面背景图出不来了

[2014-07-01 02:23] YanGuam commented on #130
@ibicdlcod    创建文件夹imageformats/ 找个qjpeg4.dll放进去

[2014-07-01 05:54] ibicdlcod commented on #130
虫妹已经告诉我了，不过还是谢谢~

[2015-01-24 07:45] taocp opened #138 "[solved]swig/pregen_sanguosha_wrap.cxx编译错误"
../QSanguosha-master/swig/pregen_sanguosha_wrap.cxx 编译错误。
Linux x86, Gcc 4.8.3

[code]

 把 `size_t len = lua_objlen(L, 2);` 移到 `static int _wrap_CardsMoveOneTimeStruct_from_pile_names_set(lua_State* L) `开始部分后，编译OK.
me不会C++，期待项目成员能给出更好的解决办法。

谢谢各位的作品。 :+1:   : )

[2015-01-24 08:18] Fsu0413 commented on #138
你这用的是C模式吧…………

[2015-01-24 11:58] taocp commented on #138
什么叫“C模式”。。。 不会C++，听不懂这个术语，网上搜一下也没发现有价值的线索。。。

[2015-01-24 12:56] Fsu0413 commented on #138
就是这个文件是被编译器当成C语言文件编译了吧…………

[2015-01-24 14:00] taocp commented on #138
没有啊，g++编译的。。。

[2015-01-25 01:32] Fsu0413 commented on #138
好神奇……没见过这情况

[2015-01-25 21:19] YanGuam commented on #138
用最新的swig重新生成一下sanguosha.i试试看吧

[2015-06-11 23:30] #138 closed

[2015-07-08 07:45] #109 closed

[2019-07-31 02:36] Timstone2017 opened #139 "windows+qt5下编译问题"
这个源代码怎么在windows下用qt5编译呀？

[2019-08-03 03:38] Fsu0413 commented on #139
这个Repo应该是Qt4的